.Search {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
  width: 30%;
  min-width: 300px;
}
.Search input {
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 18px;
}
.Search input:focus,
.Search input:active {
  border: none;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .Search {
    width: calc(100% - 20px);
  }
}