.Movie {
  position: relative;
  width: calc(25% - 10px);
  margin: 5px;
}

.Movie img {
  max-width: 100%;
  border-radius: 5px;
}

.Movie .image {
  min-height: 200px;
}

.Movie .title {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.Movie .favorite-icon {
  position: absolute;
  font-size: 30px;
  right: 0px;
  padding: 5px;
  color:#ffffff82;
  cursor: pointer;
}

.Movie .favorite-icon:hover {
  font-size: 35px;
  color: #FFEB3B;
}
.Movie .favorite-icon.fav{
  color: #FFEB3B;
}

.Movie .watchlist-icon {
  position: absolute;
  font-size: 30px;
  left: 0px;
  padding: 5px;
  color:#ffffff82;
  cursor: pointer;
}
.Movie .watchlist-icon:hover {
  font-size: 35px;
  background: #4caf50ad;
  color: #fff;
}
.Movie .watchlist-icon.added {
  background: #4caf50ad;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .Movie {
    width: calc(33% - 20px);
  }
}
@media only screen and (max-width: 600px) {
  .Movie {
    width: calc(100% - 20px);
  }
}