.App {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.loader-container {
  position: relative;
  height: calc(100% - 50px);
  width: 100%;
  overflow: hidden;
}
.loader-container img {
  position: relative;
  height: 100%;
  width: 100%;
}

