.center {
  position: relative;
  height: calc(100% - 50px);
  overflow: auto;
  background: linear-gradient(45deg, #0d253f, #90cea1);
}
.movies-container {
  position: relative;
  /* height: calc(100% - 50px); */
  display: flex;
  padding: 65px 10px 30px 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* overflow: auto;
  background: linear-gradient(45deg, #0d253f, #90cea1); */
}
.movies-container .movie-card-container {
  height: 200px;
  width: 100px;
  background-color: coral;
}
.more-btn {
  position: relative;
  text-align: center;
  padding: 10px;
}
.more-btn button {
  font-size: 25px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(45deg, black, transparent);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.tab-container {
  display: flex;
  padding: 10px;
  position: fixed;
  z-index: 10;
  width: calc(100% - 40px);
  background: linear-gradient(45deg, #0d253f, #90cea1);
}
.filter-tab {
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  margin: 0px 5px;
  background: #85c099;
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  color: #b8ffce;
}
.filter-tab.selected {
  border: 2px solid greenyellow;
  color: greenyellow;
}

@media only screen and (max-width: 600px) {
  .tab-container {
    width: calc(100% - 20px);
  }
  .filter-tab {
    width: 33%;
  }
}